<!-- revenue.ejs -->

<%- include('../inc/header-user.ejs') %>

<main>
  <div style="margin-top: 80px; height: 100vh; margin-left: 320px; flex: 1">
    <form method="/" id="form-submit">
      <select onSl id="form-select">
        <option value="today" selected>Hôm nay</option>
        <option value="weekago">Tuần vừa rồi</option>
        <option value="monthago">Tháng vừa rồi</option>
        <option value="threeago">3 Tháng vua roi</option>
        <option value="sixago">6 Tháng trước</option>
        <option value="yearago">1 Năm trước</option>
      </select>
    </form>
    <h1 style="margin-top: 20px">Tổng doanh thu</h1>
    <h3 id="tongtien">VND</h3>
  </div>
</main>

<%- include('../inc/footer.ejs') %>
<script defer>
  const form = document.getElementById("form-submit");
  const select = document.getElementById("form-select");
  const ttien = document.getElementById("tongtien");
  let data = "today";
  fetch(`/api/thongke/${data}`)
    .then((e) => {
      return e.json();
    })
    .then((tt) => {
      ttien.textContent = `${tt.total}VND`;
    })
    .catch((e) => {
      console.log(e);
    });
  select.addEventListener("change", (e) => {
    data = e.target.value;
    fetch(`/api/thongke/${data}`)
      .then((e) => {
        return e.json();
      })
      .then((tt) => {
        ttien.textContent = `${tt.total}VND`;
      })
      .catch((e) => {
        console.log(e);
      });
  });
</script>
